//@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;800&display=swap');
@media screen and (max-width: 768px) {
  $primary-color: #9356DC;
  $secondary-color: #FF79DA;
  $tertiary-color: #99E2D0;

  @mixin policeTexte {
    font-family: 'Roboto', sans-serif;
  }

  @mixin policeTitre {
    //font-family: 'Shrikhand', cursive;
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
  }

  //h1{
  //  @include policeTitre;
  //}

  p,h2 {
    @include policeTexte;
  }
  h1 {
    @include policeTitre;
  }
  .body{
    width:100%;
  }

  .logo {
    &-head {
      box-shadow: 0 6px 6px rgba(0, 0, 0, 0.35);
      padding-top: 20px;
      padding-bottom: 20px;
    }

    &.top {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 200px;
      height: auto;
    }

    &.foot{
      width:110px;
      height:auto;
      padding:15px;
      color:white;
    }
  }

  .location {
    display: flex;
    flex-direction: row;
    background-color: lightgrey;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;

    & > i {

    }

    & > p {
    }
  }

  .exploration {
    padding-bottom: 30px;
    text-align: center;

    & > h1 {
    }

    & > p {
    }

    &__bouton {
      background-color: $primary-color;
      color: white;
      border-radius: 50px;
      height: 60px;
      width: 270px;
    }
  }
.fonctionnement {
  &-display {
    display: flex;
    flex-direction: column;
  }

  &__unit {
    display:flex;
    border-radius: 35px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.35);
    margin-top:20px;
    margin-bottom:20px;
    height:80px;
    &>i{
      color:#8e8e8e;
    }
  }

  &--nombre {
    margin-top:25px;
    border-radius: 50px;
    background-color: $primary-color;
    height:30px;
    width:30px;
    text-align:center;
    color:white;
  }
}

  .restaurant{
    margin-top:40px;
    padding-top:40px;
    background-color: lightgrey ;
    &__display{
      display:flex;
      flex-direction: column;
    }
    &__unit {
      display:flex;
      flex-direction: column;
      background-color: white;
      border-radius:15px;
      margin:15px;
      &--img {
        width:100%;
        height:200px;
        border-top-left-radius:15px;
        border-top-right-radius:15px;
      }
      &--info{
        padding-left:15px;
        display:flex;
      }
      &--nv {
        on {
          background-color: lightgreen;
          color: forestgreen;
        }
      }
    }
  }

  .footer {
    background-color: black;
    &__liens {
      display: flex;
      flex-direction: column;
      padding-left:15px;
      &>a {
        text-decoration: none;
        color: white;
        &>i{
          width:20px;
          height:20px;
          padding-right:5px;
        }
      }
    }
  }
}